body {
    margin: 20px;
    text-align: center;
    font-size: 1.75rem;
}

@media screen and (min-width : 1200px)
{
  body
  {
    margin: 20px;
    text-align: center;
    font-size: 1.25rem;
  }
  .row {
  display: flex;
  }
  .column {
    flex: 50%;
    padding: 10px;
  }
}
