body {
    margin: 20px;
    text-align: center;
    font-size: 1.5rem;
    background-color: black;
}

@media screen and (min-width : 1200px)
{
  body
  {
    margin: 20px;
    text-align: center;
    font-size: 1rem;
    background-color: black;
  }
  .row {
  display: flex;
  }
  .column {
    flex: 33.333%;
    padding: 10px;
  }
}
