{% extends 'base.html' %}

{% block title %}
    About Climate Change
{% endblock %}

{% block content %}

    <div class="nes-container" style="background-color: white; margin: 10px">

    <h1>About climate Change</h1>

    <img src="{{url_for('static', filename='earth.png')}}" width=300>

    <form method="post" action="/">
        <p></p>
        <a href="climate_change_evidence"><button type="button" class="nes-btn is-success">Climate Change Evidence</button></a><br>
        <p></p>
        <a href="climate_change_solutions"><button type="button" class="nes-btn is-success">Climate Change Solutions</button></a><br>
        <p></p>
        <a href="climate_finance"><button type="button" class="nes-btn is-success">What is Climate Finance?</button></a>
        <p></p>
        <a href="climate_finance_and_covid"><button type="button" class="nes-btn is-success">Climate Finance and COVID</button></a><br>

    </form>

    </div>

{% endblock %}
