{% extends 'base.html' %}

{% block title %}
    About Climagotchi
{% endblock %}

{% block content %}

    <h1>About Climagotchi</h1>

<p>
    Climagotchi is a game in which players act as governments to make decisions
    impacting spending and interventions on environmental and social issues.
</p>
<p>
    Climagotchi was brought into this world on 28 April 2021, by Michael
    Hayman. My plan is to grow the codebase (including HTML and the rest) by
    an average of 1,000 lines per week, and have the app running as a
    fully-functional game and educational resource within 100 days (about 15
    weeks). With any luck, it will also have an active community by that point
    to drive it forward.
</p>
<p>
    Future versions of Climagotchi will add complexity to climate models and
    player interactions, uising Reinforcement Learning and Natural Language
    Processing.
</p>
<p>
    Climagotchi is the creation of Michael Hayman, who is always happy to chat
    more about it, along with the potential of gameified policy to help us
    understand our underlying ethical assumptions, biases, and visions for a
    sustainable future. Please feel free to get in touch:
    <ul>
        <li>GitHub</li>
        <li>LinkedIn</li>
        <li>Email</li>
    </ul>
</p>

{% endblock %}
