{% extends 'base.html' %}

{% block title %}
    Climate Finance and COVID
{% endblock %}

{% block content %}

<div class="nes-container" style="background-color: white; margin: 10px">

<h1>
  Climate Finance and COVID
</h1><br><br>

<div class="nes-container with-title is-centered" style="background-color: white; margin: 10px">
  <p class="title" style="font-size: 1.5rem; font-weight: bold;">Part1: A novel
  crisis like coronavirus may seem scary, but it's insignificant compared to
  climate change.</p>

<p>
  It's too soon to say what effect the novel coronavirus will have on the human
  populations of the world, and what effect the widespread lockdowns and
  related measures will have on their livelihoods. I'm not an expert in
  medicine, or health economics. Most of my knowledge comes from the media, as
  I'm not on the frontline of the battle against the virus. However, the
  evidence I've encountered to date indicates that:

  <ol>
    <li>Policy and finance have failed to address climate change for decades, but
      coronavirus has led to unprecedented political action and floods of finance
      in a matter of weeks.</li>
    <li>Responses to coronavirus may result in a net loss of welfare.</li>
    <li>Welfare gains from spending on coronavirus will be less for similar
      spending on key climate finance needs.</li>
    <li>Like climate change, political
      decisions taken to address coronavirus depend on value systems, and thus
      require careful examination of difficult tradeoffs.</li>
  </ol>

  In this first series of blog posts, I will consider the impacts of measures
  taken to address coronavirus, and how these could impact measures to address
  climate change. In the months to come, I will continue exploring solutions to
  political and financial deadlocks on climate change. I'd be curious to know
  your thoughts and concerns - feel free to contact me, raise a civilised
  argument, or share an idea that we can research together.
</p>
</div>

<div class="nes-container with-title is-centered" style="background-color: white; margin: 10px">
  <p class="title" style="font-size: 1.5rem; font-weight: bold;">Part 2: Policy
  and finance have failed to address climate change for decades,
  but coronavirus has led to unprecedented political action and floods of
  finance in a matter of weeks.</p>

<p>
  The scientific consensus on anthropogenic climate change has been clear for
  years. Diplomatic organisations to address climate change have existed for
  decades, and political consensus from world leaders has gathered increasing
  momentum - especially as the effects of climate change are already being
  experienced, and popular activist movements have gained traction. However,
  the real policy measures and financial muscle needed to tackle climate change
  are still lacking; and the old excuses made for this are no longer valid, in
  light of the global reaction to 2020's coronavirus pandemic.
</p>

<h4>
  The scientific consensus on climate change has been clear for years.
</h4>

<p>
  The International Panel on Climate Change (IPCC) is another core body
  coordinated by the United Nations. Crucially, it is independent, and it
  offers an accumulation of scientific evidence rather than explicit political
  direction.
</p>

<p>
  An oft-cited fact is that scientists have reached global consensus on climate
  change, with 97% of scientists in agreement
</p>

<h4>
  The UNFCCC has been active for almost three decades.
</h4>

<p>
  The organised international response has been coordinated by the United
  Nations Framework Convention on Climate Change (UNFCCC), which was opened for
  signature at the Rio Earth Summit in 1992, and entered into force in 1994.
  The Conference of Parties (COP) to the UNFCCC began to meet in 1995, to
  outline specific targets for emissions. The UNFCCC was extended by the Kyoto
  Protocol, which was concluded in 1997 and came into effect in 2005, but
  withdrawal of certain parties meant that it expired in 2012. The Paris
  Agreement was developed at COP21 in 2015.
</p>

<p>
  While the UNFCCC has become a key driver of international diplomacy to
  address climate change, its negotiations have repeatedly met substantial
  hurdles, and at times active resistance from certain parties.
</p>

<h4>
  The world has understood the need to accelerate climate finance for over a
  decade.
</h4>

<p>
  2015 also saw the adoption of the Sustainable Development Goals (SDGs),
  developed by the United Nations to succeed the Millenium Development Goals.
  The SDGs outline a range of targets.
</p>

<p>
  Throughout
</p>

<p>
  2020 saw the novel coronavirus, and the disproportionate hysteria that
  accompanied it. In an effort to prevent the deaths of several million people,
  governments have: imposed extreme limits to personal freedom; forced billions
  of people out of work; bankrupted countless small- and medium-sized
  enterprises; and created unprecedented debt to raise money that has been
  oddly absent from any commitments to address climate change. The refusal of
  health services those not suffering the virus has compromised the health of
  countless others. Families without savings or an ongoing income are being
  forced into malnourishment, particularly in infants and young children.
</p>

<p>
  As of 15 April 2020, countries around the world had committed about <a
  rel="noreferrer noopener"
  href="https://blogs.imf.org/2020/04/15/fiscal-policies-to-contain-the-damage-from-covid-19/"
  target="_blank">USD 8 trillion</a> to fighting this coronavirus.
</p>

<p>
  The financial response to coronavirus has been substantial. The United States
  pass a disaster aid bill to the tune of USD 2 trillion. The United Kindom
</p>

<p>
  The International Monetary Fund has offered USD 50 billion, and the World
  Bank Group USD 12 billion.
</p>

<h4>
  Old excuses to delay climate change action are no longer valid.
</h4>

<p>
  Governments have delayed making decisive policy changes needed to rein in the
  runaway effects of climate change, and the scale of climate finance is
  falling far short of what's needed - to phase out of fossil fuels and other
  activities increasing atmospheric greenhouse gasses, and to adapt and
  increase our resilience to the impacts of climate change.
</p>
</div>

<p></p>

<div class="nes-container with-title is-centered" style="background-color: white; margin: 10px">
  <p class="title" style="font-size: 1.5rem; font-weight: bold;">Part 3: Responses to coronavirus may result in a net loss of welfare.</p>

<p>
  In setting out, I should differentiate between public welfare (defined here
  as the average health, happiness, and fortunes of the public), and individual
  rights (defined here as the moral or legal entitlement of an individual to
  have or do something). I appreciate that every human being's right to life
  should be respected, and that might be enough for some to accept the
  imposition of extreme measures to fight the spread of coronavirus at all
  costs; however I contend that the overall effect of these measures may be a
  greater loss of life and wealth for the public, in some countries and perhaps
  globally.
</p>

<p>
  As of 15 April 2020, countries around the world had committed about <a
  rel="noreferrer noopener"
  href="https://blogs.imf.org/2020/04/15/fiscal-policies-to-contain-the-damage-from-covid-19/"
  target="_blank">USD 8 trillion</a> to fighting this coronavirus - most of
  this to be spent within individual countries, but some across regional
  institutions like the European Union, and some transferred from rich to poor
  countries through multilateral and bilateral aid. This is a truly remarkable
  financial response, dwarfing any past spending on health, environmental, or
  wider development issues. By 24 March 2020, <a rel="noreferrer noopener"
  href="https://www.theguardian.com/world/2020/mar/24/nearly-20-of-global-population-under-coronavirus-lockdown"
  target="_blank">about 20% of the world's population</a> had been under some
  form of lockdown in response to coronavirus. Across the world, global travel
  has halted and most flights have been cancelled, non-essential businesses
  have been forced to close, cultural activities - like sports matches and
  music concerts - have been postponed or cancelled, and countries and regions
  have forced individuals to stay at home.
</p>

<p>
  Many think the measures taken are all necessary. The idea that coronavirus
  should be halted "at all costs" has caught on like a virus, spreading through
  mainstream and social media, and obliging many world leaders to take extreme
  political and financial measures. It's reasonable to assume that some
  measures to control the spread of this coronavirus were necessary. There is
  evidence to demonstrate that carefully planned and executed testing and
  tracking of coronavirus cases, along with self-quarantine of vulnerable
  individuals, can prevent unnecessary deaths. However, beyond a certain point,
  the damage done by extreme measures to address the virus become greater than
  the damage done by the virus itself. At this point, it's impossible to know
  where this point is; I believe that line has already been crossed.
  Governments need to learn from these mistakes, and strive for a bright
  future - one built on evidence-based policy, moderated by frank and open
  debate, and accountable to their legal and constitutional foundations rather
  than popular media.
</p>

<h4>
  Different countries face different circumstances.
</h4>

<p>
  The effects of coronavirus, and of the political and financial measures taken
  to address it, differ vastly across countries. The greatest contrast is
  between rich and poor countries; although there's also a significant
  difference between young and old populations, and between those with better
  or worse healthcare capacity. While we may have a common enemy, it's not
  entirely true that we're all in the same boat. To stretch the analogy, each
  country is a different boat, starting from different harbours, facing
  different currents - think of a rich country as a fully-insured super yacht
  cruising through calm and protected waters, and a poor country as a dinghy
  ridden with holes heading straight through a tropical storm.
</p>

<p>
  Let's compare countries by the time and scale of <a rel="noreferrer noopener"
  href="https://coronavirus.jhu.edu/map.html" target="_blank">their coronavirus
  infections</a>, and <a rel="noreferrer noopener"
  href="https://datahelpdesk.worldbank.org/knowledgebase/articles/906519-world-bank-country-and-lending-groups"
  target="_blank">GDP per capita</a>. Since high-income countries in Europe
  (notably Spain, Italy, France, Germany, and the United Kingdom) generally
  have the highest recorded COVID-19 cases and deaths, and many of these
  experienced early spikes in cases, they were first to close businesses and
  schools, close borders, and advise or force people to stay at home. While the
  United States faces often contrasting advice at federal and state level, much
  of the country was put under strict lockdown measures, and the federal
  decision to ban visitors from the European Union's Schengen Zone was arguably
  the spark that led to airlines across the world cancelling almost all of
  their flights. China is a clear exception, an upper-middle-income economy
  where the coronavirus originated, and which thus experienced the first spike
  in COVID-19 infections and imposed the first restrictions. Three more
  upper-middle-income economies - Turkey, Iran, and Russia - complete the top
  ten countries by confirmed cases, as of 22 April 2020, and the countries with
  over 50,000 confirmed cases.
</p>

<h4>
  Poor countries risk increased inequality, missed vaccinations, and starvation.
</h4>

<p>
  Some have framed this coronavirus as a great leveller, putting everybody in
  the same boat in the fight against a common enemy. Notwithstanding the blame
  that has been thrown around by conspiracy theorists and world leaders alike,
  it has been encouraging to see most of the world put their differences aside
  and generally cooperate. It would be wonderful to see the same approach in
  addressing climate change, but despite the efforts of many national and
  international bodies, that situation is complicated by vested interests in
  fossil fuels. Even if some leaders take more extreme measures to address this
  coronavirus than others, they can all see the value on reducing its impact
  and are not trying to actively encourage its spread.
</p>

<p>
  Aid is necessary to support people in need, but it comes at a cost. Poor
  countries are receiving some aid and concessional finance to address
  coronavirus, but this is not sufficient to cover the damage caused by
  lockdowns in these countries, and it means less money is available for
  climate finance. Established multilateral aid organisations have stepped up
  to offer some relief to poor countries: <a rel="noreferrer noopener"
  href="https://www.unocha.org/story/un-issues-2-billion-appeal-combat-covid-19"
  target="_blank">USD 2 billion</a> from United Nations agencies; <a
  rel="noreferrer noopener"
  href="https://www.worldbank.org/en/about/what-we-do/brief/world-bank-group-operational-response-covid-19-coronavirus-projects-list"
  target="_blank">USD 160 billion</a> from the World Bank Group; and <a
  rel="noreferrer noopener"
  href="https://blogs.imf.org/2020/04/20/a-global-crisis-like-no-other-needs-a-global-response-like-no-other/"
  target="_blank">USD 118 billion</a> from various facilities of The
  International Monetary Fund, along with its support to G20 countries in
  suspending bilateral debt repayments for the poorest countries through 2020,
  and its new short-term liquidity line. Various rich countries, private sector
  institutions, and philanthropists have also contributed funding and
  concessional finance to those in need.
</p>

<h4>
  Rich countries risk decades of debt and unemployment.
</h4>

<p>
  Rich countries' governments have offered up finance, to address coronavirus
  and support their economies during and after the lockdown period, on a scale
  never seen before. The United States passed a Disaster Aid Bill, to the tune
  of USD 2 trillion.
</p>

<h4>
  This coronavirus will change the world, but it didn't have to.
</h4>

<p>
  For weeks already, much of the world's population has faced unprecedented
  restrictions to their personal liberty, and economic activity has been
  severely stunted. Given the current narrative, it's easy for public figures
  to dismiss economic health as non-essential, with economic health sacrificed
  to support medical health. It's easy to forget that the health sector is
  basically a complex and often fragile system of human capital (health staff),
  manufactured capital (manufacture and trade of equipment and medicines), and
  intellectual property (education, and research and development) - supported
  by a combination of public finance and private insurance.
</p>

<p>
  The health sector increases the length and quality of almost every human's
  life, but other uses of resources can also do so: most economic activity
  improves the livelihoods of a range of stakeholders including business
  owners, employees, customers, and residents of affected areas; cultural
  events lend an important sense of identity and purpose to the lives of many,
  thus benefitting mental health and social cohesion; and freedom of movement
  allows people to maintain dignity and determine their destiny, especially
  important for people in poor communities forced to live hand-to-mouth, many
  of whom are now failing to make ends meet and struggling to survive, while
  the middle class laments their boredom in lockdown.
</p>

<p>
  At some point, the public's idea of "the economy" changed, from being
  something that supported health and livelihoods, to something that stands in
  the way. Perhaps the real problem with trying to stop the catchy idea of
  stopping this coronavirus "at all costs" - preventing its spread no matter
  the economic consequences - is an obsession with prolonging life, rather than
  improving life.
</p>
</div>

</div>

{% endblock %}
