{% extends 'base.html' %}

{% block title %}
    Climate Change Evidence
{% endblock %}

{% block content %}

<h1>
  Climate change evidence
</h1>

<p>
  There's a great deal of evidence to show that temperatures have been rising
  since the dawn of the industrial revolution, and that many parts of the world
  have experienced an increase in extreme weather events and unusual seasonal
  conditions. Rather than getting bogged down in the overwhelming media
  commentary and scientific literature, I have highlighted the key authorities
  that you should trust and that will lead to further information below. Rather
  than extensively listing the impacts of climate change already experienced, I
  have highlighted some of the most striking extreme weather events and
  seasonal anomalies below.
</p>

<h4><strong>
  Trustworthy authorities and resources
</strong></h4>

<p>
  <ul>
    <li>The Intergovernmental Panel on Climate Change (IPCC) compiles the most
      complete and authoritative compendia of human knowledge on climate change.
      Its <a rel="noreferrer noopener" href="https://www.ipcc.ch/report/ar5/syr/"
      target="_blank">5th Assessment Report</a> was published in 2014, and its <a
      rel="noreferrer noopener" href="https://www.ipcc.ch/assessment-report/ar6/"
      target="_blank">6th Assessment Report</a> is due for publication in 2022.
      In addition, it produces special reports on topics including including: <a
      rel="noreferrer noopener" href="https://www.ipcc.ch/sr15/" target="_blank">
      Global Warming of 1.5C</a>, <a rel="noreferrer noopener"
      href="https://www.ipcc.ch/srccl/" target="_blank">Climate Change and Land
      </a>, <a rel="noreferrer noopener" href="https://www.ipcc.ch/srocc/"
      target="_blank">The Ocean and Cryosphere in a Changing Climate</a>.</li>
    <li>The World Meteorological Association (WMO) issues an annual <a
      rel="noreferrer noopener"
      href="https://public.wmo.int/en/our-mandate/climate/wmo-statement-state-of-global-climate"
      target="_blank">Statement on the State of the Global Climate</a> which
      contribute to UNFCCC negotiations; these statements indicate a clear
      acceleration of the global impacts of climate change.</li>
    <li>The United Nations Office for Disaster Risk Reduction's (UNDRR's)
      biennial <a rel="noreferrer noopener" href="https://gar.undrr.org/"
      target="_blank">Global Assessment Report</a> highlights the growing risk of
      extreme events, along with the high cost of vulnerability and interrelated
      cycles of disasters and poverty.</li>
    <li>Climate-related issues dominated all of the World Economic Forum's
      <a rel="noreferrer noopener"
      href="https://www.weforum.org/reports/the-global-risks-report-2020"
      target="_blank">Global Risks Report</a> - a survey of 1,000 experts from
      government, business, academia, and non-governmental organisations. Notably,
      it ranks climate action failure the greatest risk in terms of impact, and
      extreme weather the greatest risk in terms of livelihood.</li>
    <li>The International Labour Organisation (ILO) has warned that global
      warming of 1.5C could severely impact labour productivity and lead to a
      2.2% drop in working hours by 2030 - the equivalent of 80 million jobs, at
      a cost to the global economy of USD 2.4 trillion, with poor countries being
      most affected.</li>
    <li>According to the World Bank Group (WBG), the current lack of
      infrastructure - including transport, energy, telecommunications, water,
      and sanitation systems - is already costing at least USD 390 billion per
      year. The extra cost of building resilience into infrastructure projects in
      developing countries would only amount to around USD 1 trillion (3% of
      their overall cost), but the reduction in damage, economic impacts, and
      other negative effects would yield a net benefit of USD 4.2 trillion over
      the lifetime of the new infrastructure.</li>
    <li>According to the Institute for Economics and Peace, almost a billion
      people live in areas subject to high climate change risk, and about 40% of
      these are already struggling with conflict.</li>
    <li>A United Nations (UN) report has named climate change the greatest
      challenge to sustainable development, and highlighted that the effects of
      climate change will primarily affect the poor.According to the UN, one
      climate disaster is happening every week, though most draw little attention.
      Urgent work is needed to prepare developing countries for future disasters.
      Across the world, less than 5% of disaster losses are covered by insurance
      in poor countries, versus 50% in rich countries.</li>
  </ul>
</p>

<h4><strong>
  Examples of extreme weather events and seasonal anomalies
  </strong></h4>

<p>
  Extreme weather events and seasonal anomalies have been growing more frequent
  with each passing year. A few examples include:
  <ul>
    <li>July 2019 was the hottest month ever recorded on earth.</li>
    <li>Across the northern hemisphere, record temperatures were broken in a
      series of summer heatwaves. France, the United Kingdom, Germany, the
      Netherlands, Belgium, and Norway all recorded their hottest temperatures in
      history. Local records were surpassed in other countries, including China
      and Portugal. Anthropogenic climate change made these heatwaves were up to
      100 times more likely.</li>
    <li>Forecasts suggest more than half the world could see new temperature
      records set every single year, by 2100.</li>
    <li>Across Africa, the number of people exposed to dangerous heat conditions
      is expected to be at least 20 times higher than at present.</li>
    <li>Also in 2019, Cyclones Idai and Kenneth ravaged Southern Africa.</li>
    <li>Over 100 wildfires in the Artic Circle released about 100 megatons of
      carbon dioxide (CO2), in one of the worst wildfire seasons on record.
      Russia's army battled to control fires affecting an area larger than
      Belgium. Alaska saw raging wildfires and a coast devoid of sea ice, with
      the hottest July in history, during which temperatures never dropped below
      freezing.Spain battled the greatest wildfires they had seen in 20 years.
      Australia had its hottest summer, leading into prolonged fires across the
      country.</li>
    <li>Greenland faced its second largest ice melt since 1950, with its ice
      sheet shrinking more during the month of July than in an average year,
      already reaching rates equivalent the the most pessimistic models
      scientists had predicted for 2070.</li>
  </ul>
</p>

{% endblock %}
