{% extends 'base.html' %}

{% block title %}
    Climate Change Solutions
{% endblock %}

{% block content %}

<h1>
  Climate change solutions
</h1>

<p>
  Climate change presents a myriad of complex problems, across all regions of
  the world, and spanning at least for decades to come. The world has not yet
  begun to slow the growth of atmospheric greenhouse gases (GHG), and is not
  yet prepared to address the impacts of climate change. Over 28 years, the
  organised response to climate change has made largely stunted progress, but
  with the increasing urgency seen in recent years, the structure and nature of
  the response is rapidly evolving.
</p>

<h4>
  Diplomatic organisations
</h4>

<p>
  2015 saw the 21st Conference of the Parties (COP21) to the United Nations
  Framework Convention on Climate Change (UNFCCC) develop the Paris Agreement -
  a beacon of hope to lead the world toward a bright future. The goal of
  limiting temperature rise to 2C, with an ambition of keeping below 1.5C,
  would be achieved by countries making Nationally Determined Contributions
  (NDCs) to adaptation and mitigation. 2015 also saw the adoption of the UN's
  Sustainable Development Goals (SDGs).
</p>

<p>
  2019 saw several countries committing to enhance their long-term ambition in
  addressing climate change, in principle, in line with the ambition of
  achieving net zero emissions by 2050 - notably the United Kingdom, France,
  Chile, Finland, and Japan. The European Union has proposed a continent-wide
  zero emissions goal by 2050, which has faced some resistance from several
  member states. In its <a rel="noreferrer noopener"
  href="https://unctad.org/en/pages/PublicationWebflyer.aspx?publicationid=2526"
  target="_blank">Trade and Development Report 2019</a>, the United Nations
  Conference on Trade and Development (UNCTAD) suggested that meeting the
  financial demands of Agenda 2030 requires rebuilding multilateralism around
  the idea of a Global Green New Deal.
</p>

<p>
  China declared an intention to upgrade its contribution to the Paris
  Agreement, although the BASIC group of large developing economies stressed
  the responsibility of rich countries to raise their ambitions in addressing
  climate change. According to research from the Overseas Development Institute
  (ODI), G20 governments - including those that have declared a climate
  emergency - continue to contribute billions of dollars in support of the
  fossil fuel industry.
</p>

<p>
  The United Nations Environment Programme (UNEP) publishes an <a
  rel="noreferrer noopener"
  href="https://www.unenvironment.org/resources/emissions-gap-report-2019"
  target="_blank">Emissions Gap Report</a>, and an <a rel="noreferrer noopener"
  href="https://www.unenvironment.org/resources/adaptation-gap-report"
  target="_blank">Adaptation Gap Report</a>, comparing current practice to what
  is required for effective climate change mitigation and adaptation,
  respectively.
</p>

<h4>
  Popular movements
</h4>

<p>
  2019 also saw a tide of social and traditional media, driven by the momentum
  of protest movements like the Extinction Rebellion, and Fridays For Future
  school protests. But even this failed to generate sufficient traction at
  COP25. Global climate finance growth was moderate, the replenishment of the
  GCF was underwhelming, and carbon emissions were not slowing sufficiently.
  The United Nations (UN) Secretary-General, Antonio Guterres, has expressed
  his support for the school climate strikes, calling for the youth to lead on
  climate action. The Climate Emergency Fund in the USA offers finance and
  legal protection to climate activists in movements like the Fridays For
  Future school strikes and the Extinction Rebellion.
</p>

<p>
  The climate protests, which have spread across developed countries and have
  some presence in developing countries, may be largely responsible for
  increased climate ambition in some countries. The raise encouraging prospects
  for democratic approaches to climate change - something formalised by
  initiatives like Ireland's citizens' assembly on climate change, the United
  Kingdom's citizens' assembly on climate change, and the French citizens'
  convention on the ecological transition.
</p>

{% endblock %}
