{% extends 'base.html' %}

{% block title %}
    What is Climate Finance?
{% endblock %}

{% block content %}

<div class="nes-container" style="background-color: white; margin: 10px">

<h1>
  What is climate finance?
</h1>

<p>
  Climate finance supports actions required for adaptation (increasing
  resilience to extreme weather events and seasonal variation, and reducing
  related costs) and mitigation (reducing net atmospheric greenhouse gases).
  According to the Climate Policy Initiative (CPI)'s <a
  rel="noreferrer noopener"
  href="https://climatepolicyinitiative.org/publication/global-landscape-of-climate-finance-2019/"
  target="_blank">Global Landscape of Climate Finance</a> - a comprehensive
  annual overview of global climate-related primary investment - total climate
  finance for 2017/2018 amounted to USD 579 billion.
</p>

<div class="nes-container with-title is-centered" style="background-color: white; margin: 10px">
  <p class="title" style="font-size: 1.5rem; font-weight: bold;">Multilateral Climate Funds</p>
  <p>
    In 2009, the United Nations Framework Convention on Climate Change (UNFCCC)
    agreed to the Copenhagen Accord, including a target of mobilising at least
    USD 100 billion annually from 2020, to assist developing countries in meeting
    the costs of climate change adaptation and mitigation. This led to the
    creation of the <a rel="noreferrer noopener"
    href="https://www.greenclimate.fund/" target="_blank">Green Climate Fund
    (GCF)</a> in 2010, which has been through an Initial Resource Mobilisation
    (IRM) phase and in 2019 carried out its First Formal Replenishment (FFR).
  </p>
  <p>
    The GCF joined existing multilateral funds addressing climate change -
    notably the Climate Investment Funds (CIFs), the Adaptation Fund (AF), and
    the Global Environment Facility (GEF). These institutions followed a
    tradition of multilateral development funds - with general, regional, or
    thematic mandates - going back to the establishment of the World Bank Group
    (WBG) and the International Monetary Fund (IMF) in 1944.
  </p>
</div>

<p></p>

<div class="nes-container with-title is-centered" style="background-color: white; margin: 10px">
  <p class="title" style="font-size: 1.5rem; font-weight: bold;">Private sector groups and standards</p>
  <p>
    Representatives of 130 banks have adopted the <a rel="noreferrer noopener"
    href="https://www.unepfi.org/banking/bankingprinciples/"
    target="_blank">Principles of Responsible Banking</a>, with the goal of
    aligning the banking industry with the Sustainable Development Goals (SDGs)
    and the Paris Agreement, and to cultivate a sustainable and responsible
    banking system. The United States' <a rel="noreferrer noopener"
    href="https://www.businessroundtable.org/business-roundtable-redefines-the-purpose-of-a-corporation-to-promote-an-economy-that-serves-all-americans"
    target="_blank">Business Roundtable have redefined the purpose of a
    corporation</a>, with the CEOs of many of the world's largest companies
    committing to benefit not only shareholders, but all stakeholders - including
    customers, employees, suppliers, and communities.
  </p>
  <p>
    Through the <a rel="noreferrer noopener"
    href="https://carbonaccountingfinancials.com/" target="_blank">Partnership
    for Carbon Accounting Financials (PCAF)</a>, 59 institutions with USD 3.5
    trillion in financial assets have assessed and disclosed the greenhouse gas
    (GHG) emissions of their loans and investments. In 2019, 631 investors managing
    over USD 37 trillion, signed the Investor Agenda's <a rel="noreferrer noopener"
    href="https://theinvestoragenda.org/focus-areas/policy-advocacy/"
    target="_blank">Global Investor Statement</a> to Government on Climate Change,
    which called on world governments to: achieve the Paris Agreement's goals;
    accelerate private sector investment into the low-carbon transition; and commit
    to improve climate-related financial reporting.
  </p>
  <p>
    Various investment standards and market indices also create incentives for
    private sector institutions to showcase their compliance and leadership on
    measures to address climate change.
  </p>
  <p>
    The world's eight largest asset managers, collectively managing assets of
    USD 15 trillion, have pledged to account for climate risk in their
    investments. The We Mean Business coalition includes 28 companies, worth a
    collective total of USD 1.3 trillion, stepping up their climate action. The
    CDP has created a global index of top ranking environmental stocks - based on
    their performance on climate change, water security, and deforestation.
  </p>
</div>

<p></p>

<div class="nes-container with-title is-centered" style="background-color: white; margin: 10px">
  <p class="title" style="font-size: 1.5rem; font-weight: bold;">Adaptation Finance and Insurance</p>
<p>
  <a rel="noreferrer noopener"
  href="https://www.climatechangenews.com/2019/09/13/one-fifth-climate-finance-going-adaptation-finds-oecd/"
  target="_blank">Research from the Organisation of Economic Cooperation and
  Development (OECD)</a> found that on 19% of climate finance mobilised in 2017
  went to adaptation. A <a rel="noreferrer noopener"
  href="https://gca.org/global-commission-on-adaptation/report"
  target="_blank">report by the Global Commission on Adaptation (GCA)</a>
  estimates that USD 1.8 trillion in global adaptation investments from 2020 to
  2030 could generate USD 7.1 billion in total net benefits. <a
  rel="noreferrer noopener"
  href="https://openknowledge.worldbank.org/handle/10986/22787"
  target="_blank">UN research</a> predicts that, without adaptation, climate
  change impacts could push over 100 million people below the poverty line by
  2030.
</p>

<p>
  Adaptation goes hand in hand with insurance. With natural disasters becoming
  more common, and more severe, insurance companies and reinsurers have to
  adapt rapidly. This has lead to increases insurance premiums, the failure of
  some insurances companies, and the forced suspension of activities that
  heighten the risk of incidents - for example, power supply through lines that
  run across areas with high fire risk.
</p>
</div>

<p></p>

<div class="nes-container with-title is-centered" style="background-color: white; margin: 10px">
  <p class="title" style="font-size: 1.5rem; font-weight: bold;">Mitigation Finance and Disinvestment</p>
<p>
  The International Energy Agency's (IEA's) annual <a rel="noreferrer noopener"
  href="https://webstore.iea.org/world-energy-outlook-2019" target="_blank">
  World Energy Outlook</a> as a leading source of strategic insight on the
  energy industry and energy-related emissions. 2017 marked the tipping point
  in developing markets, as they <a rel="noreferrer noopener"
  href="https://www.bloomberg.com/news/articles/2018-11-27/clean-power-sees-first-win-over-fossil-fuels-in-emerging-markets"
  target="_blank">invested more in wind and solar than in fossil fuels</a>. As
  of 2018, some <a rel="noreferrer noopener"
  href="https://carbontracker.org/42-of-global-coal-power-plants-run-at-a-loss-finds-world-first-study/"
  target="_blank">48% of global coal power plants were running at a loss</a>,
  and forecasts predicted that new wind and solar will be cheaper than 96% of
  existing coal power by 2030.
</p>

<p>
  At least <a rel="noreferrer noopener"
  href="https://ieefa.org/ieefa-report-every-two-weeks-a-bank-insurer-or-lender-announces-new-coal-restrictions/"
  target="_blank">100 global financial institutions</a>, with over UDD 6
  trillion in assets under management, have introduced policies restricting
  coal funding. Despite this progress, some <a rel="noreferrer noopener"
  href="https://www.ran.org/bankingonclimatechange2019/" target="_blank">USD
  1.9 trillion</a> has been invested in fossil fuels since the Paris Agreement.
  Many of the largest multilateral development banks (MDBs) are <a
  rel="noreferrer noopener"
  href="https://www.eib.org/attachments/press/joint-mdb-statement-climate_nov-28_final.pdf"
  target="_blank">committed</a> to scaling up their support of climate-friendly
  projects, and scaling back their assistance to carbon-emitting projects.
</p>
</div>

<p></p>

<div class="nes-container with-title is-centered" style="background-color: white; margin: 10px">
  <p class="title" style="font-size: 1.5rem; font-weight: bold;">Green Bonds and Impact Investing</p>
<p>
  Green bonds are debt-based investments that contribute to the transition to a
  low-carbon economy. The <a rel="noreferrer noopener"
  href="https://www.worldbank.org/en/news/immersive-story/2019/03/18/10-years-of-green-bonds-creating-the-blueprint-for-sustainability-across-capital-markets"
  target="_blank">WBG issued over USD 13 billion in green bonds over 10 years
  </a>, after releasing the first green bond in 2008. Green bond issuance <a
  rel="noreferrer noopener" href="https://www.climatebonds.net/"
  target="_blank">passed USD 257 in 2019</a> - an increase of 51% over 2018.
</p>

<p>
  Impact investments are investments made with the intention to generate
  positive, measurable social and environmental impact alongside a financial
  return. Impact investing is now a substantial portion of the global
  investment market - with <a rel="noreferrer noopener"
  href="https://thegiin.org/research/publication/impinv-market-size"
  target="_blank">over 1,340 organisations managing USD 502 billion</a> in
  impact investing assets worldwide.
</p>
</div>

</div>

{% endblock %}
