{% extends 'base.html' %}

{% block title %}
    How To Play
{% endblock %}

{% block content %}

    <div class="nes-container" style="background-color: white; margin: 10px">

        <h1>How To Play</h1>

        <p>
            Climagotchi is a game in which players act as governments to make
            decisions impacting spending and interventions on environmental and
            social issues.
        </p>

        <h3>Introduction</h3>

        <p>
            In a game of Climagotchi, you will make strategic decisions through
            annual cycles, in order to optimise your environmental position -
            in terms of CO2 emssions, average global temperature, sea level,
            and forest coverage - while balancing this with your wealth (GDP
            per capita), equality (percentage of national income earned by the
            richest 10% of the country), health (average life expextancy), and
            research capacity (percentage of national budget spent on research
            and development).
        </p>

        <h3>Your nation</h3>

        <p>
            When starting the game, you will be asked to select a country to represent:
            a low income, middle income, or high income country. The country you choose
            will determine the data you start with, obliging you to make differenct
            decisions and pursue different strategies to achieve your desired outcomes.
        </p>

        <h3>Choosing the best strategy</h3>

        <p>
            You will need to balance decisions on investment, mitigation, adaptation,
            policy, diplomacy, and propoganda to succeed. Each of these decisions will
            impact your ability to mitigate greenhouse gas emissions and adapt to the
            effects of climate change.
        </p>

    </div>

{% endblock %}
