{% extends 'base.html' %}

{% block title %}
    Home Page
{% endblock %}

{% block content %}

    <h1>Welcome to Climagotchi!</h1>

    <img src="{{url_for('static', filename='earth.png')}}" width=300>

    <p></p>
    <a href="new_game"><button type="button" class="nes-btn is-success">New Game</button></a><br>
    <p></p>
    <a href="how_to_play"><button type="button" class="nes-btn is-success">How To Play</button></a><br>
    <p></p>
    <a href="about_climagotchi"><button type="button" class="nes-btn is-success">About Climagotchi</button></a>
    <p></p>
    <a href="about_climate_change"><button type="button" class="nes-btn is-success">About Climate Change</button></a>

{% endblock %}
