{% extends 'base.html' %}

{% block title %}
    Level 1
{% endblock %}

{% block content %}

    <h1>Level 1</h1><br>

    <div class="row">
      <div class="column">

    <form method="post" action="/new_game">
        <button class="nes-btn is-success" name="emissions" value="decrease">Decrease</button>
        <button class="nes-btn is-success" name="emissions" value="increase">Increase</button><br>
    </form><br>

    <p>Year: {{ year }}</p><br>

    <p>CO2: {{ co2 }} ppm</p>
    <progress class="nes-progress" value={{ co2 }} max="500" style="max-width: 400px;"></progress><br><br>

    <p>Temperature: {{ temp }} C</p>
    <progress class="nes-progress is-error" value={{ temp }} max="50" style="max-width: 400px;"></progress><br><br>

    <p>Sea Level {{ sea_level }}</p>
    <progress class="nes-progress is-primary" value={{ sea_level }} max="200" style="max-width: 400px;"></progress><br><br>

    </div>
      <div class="column">

    <p>Global Equality</p>
    <i class="nes-icon coin is-large"></i>
    <i class="nes-icon coin is-large"></i>
    <i class="nes-icon coin is-large"></i>
    <i class="nes-icon coin is-large"></i>
    <i class="nes-icon close is-large"></i><br><br>

    <p>Human Health</p>
    <i class="nes-icon is-large heart"></i>
    <i class="nes-icon is-large heart"></i>
    <i class="nes-icon is-large heart"></i>
    <i class="nes-icon is-large is-half heart"></i>
    <i class="nes-icon is-large is-transparent heart"></i><br><br>

    <p>Human Happiness</p>
    <i class="nes-icon is-large like"></i>
    <i class="nes-icon is-large like"></i>
    <i class="nes-icon is-large like"></i>
    <i class="nes-icon is-large like"></i>
    <i class="nes-icon is-large like is-empty"></i><br><br>

    <p>Science and Technology</p>
    <i class="nes-icon is-large star"></i>
    <i class="nes-icon is-large star"></i>
    <i class="nes-icon is-large star"></i>
    <i class="nes-icon is-large star is-half"></i>
    <i class="nes-icon is-large star is-transparent"></i><br><br>

<!--     <p>New Technology</p>
    <i class="nes-icon trophy is-large"></i>
    <i class="nes-icon trophy is-large"></i>
    <i class="nes-icon trophy is-large"></i>
    <i class="nes-icon trophy is-large"></i>
    <i class="nes-icon close is-large"></i><br><br> -->

<!--     <p>Forest Health</p>
    <progress class="nes-progress is-success" value="50" max="100" style="max-width: 400px;"></progress><br><br>

    <p>Biodiversity</p>
    <progress class="nes-progress is-warning" value="30" max="100" style="max-width: 400px;"></progress><br><br>

    <p>Political Consensus</p>
    <progress class="nes-progress is-pattern" value="50" max="100" style="max-width: 400px;"></progress><br><br> -->

      </div>
    </div>

{% endblock %}
