{% extends 'base_game.html' %}

{% block title %}
    Level 1
{% endblock %}

{% block content %}

    <div class="row">
      <div class="column">
        <div class="nes-container" style="min-height: 550; background: white;">

        <p>Choose where to invest this year:</p>

          <a href="investment"><button type="button" class="nes-btn is-success">Investment</button></a>
          <p></p>
          <a href="mitigation"><button type="button" class="nes-btn is-success">Mitigation</button></a>
          <p></p>
          <a href="adaptation"><button type="button" class="nes-btn is-success">Adaptation</button></a>
          <p></p>
          <a href="policy"><button type="button" class="nes-btn is-success">Policy</button></a>
          <p></p>
          <a href="diplomacy"><button type="button" class="nes-btn is-success">Diplomacy</button></a>
          <p></p>
          <a href="propaganda"><button type="button" class="nes-btn is-success">Propaganda</button></a>

        </div>
      </div>

{% endblock %}
