{% extends 'base.html' %}

{% block title %}
    New Game
{% endblock %}

{% block content %}

    <div class="nes-container" style="background-color: white; margin: 10px;">

    <h1>New Game</h1><br>

    <h3>Please select a country:</h3>
    <p></p>


    <form method="post" action="/new_game">
      <button class="nes-btn is-success" name="country" value="Low Income">Low Income</button><br>
      <p></p>
      <button class="nes-btn is-success" name="country" value="Middle Income">Middle Income</button><br>
      <p></p>
      <button class="nes-btn is-success" name="country" value="High Income">High Income</button><br>
<!--       <button class="nes-btn is-success" name="country" value="USA">USA</button><br>
      <p></p>
      <button class="nes-btn is-success" name="country" value="Australia">Australia</button><br>
      <p></p>
      <button class="nes-btn is-success" name="country" value="India">India</button><br>
      <p></p>
      <button class="nes-btn is-success" name="country" value="Brazil">Brazil</button><br>
      <p></p>
      <button class="nes-btn is-success" name="country" value="Namibia">Namibia</button><br> -->
    </form><br>
    <a href="/"><button class="nes-btn is-error">Cancel</button></a>

    </div>

{% endblock %}
